
<div class="row my-3 animated fadeIn fast">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <input 
              type="text" name=""
              class="form-control"
              placeholder="Artist"
              required>   
      </div>
      <div class="form-group">
        <input 
              type="text" name=""
              class="form-control"
              placeholder="Album"
              required>   
      </div>
      <div class="form-group">
        <input 
              type="number" name=""
              class="form-control"
              placeholder="Year"
              required>   
      </div>
      <div class="form-group text-center">
          <button 
                  type="button" 
                  class="btn btn-outline-success btn-lg my-1 ml-2">
                  Save
          </button>   
      </div>
    </form>
  </div>
</div>
