
<div class="container text-center">
    <button [routerLink]="['/add-vinyil', 'nuevo']"
            type="button" 
            class="btn btn-outline-warning btn-lg my-3 btn-lg">
            New Vinyl
    </button>  
</div>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Artist</th>
            <th class="d-none d-lg-block">Title</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of vinyls | keys ">
            <td *ngIf="k.artist"> {{ k.artist }} </td>
            <td class="d-none d-lg-block"> {{ vinyls[k].title }} </td>
            <td> {{ vinyls[k].year }} </td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
</div>

